body{
    background-color:rgb(91, 172, 169);
}


.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
}
.wrapper button{
    padding: 10px 20px;
    background-color: rgb(158, 90, 90);
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.accordian {
  width: 800px;
}

.item {
  background: #614101;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: aquamarine;
}

.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
}
.content{
    color: #ffffff;
    height: auto;
}