.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: aquamarine;

}
.scroll-progress{
    width: 100%;
    height: 20px;
    background-color: brown;
}
.current-progress-bar{
    height: 20px;
    background-color: cyan;
    width: 0%;
}

h1{
    font-size: 2.5vw;
    color: rgb(24, 74, 118);
}